/* Menu CSS */
.heading{
    text-align: center;
}

.heading span{
    color: var(--main-color);
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
    /* end animation*/
}

.heading h2{
    font-size: var(--h2-font);
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
    /* end animation*/
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
    opacity: 0; /* start animation*/
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    /* end animation*/
}

.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
}
.box-img{
    width: 220px;
    height: 220px;
}

.box-img img{
    width: 100%;
    height: 100%;
}

.box h2{
    font-size: 1.3rem;
    color: var(--bg-color);
    opacity: 0; /* start animation*/
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    /* end animation*/
}

.box h3{
    font-size: 1rem;
    color: var(--bg-color);
    font-weight: 400;
    margin: 4px 0 10px;
    opacity: 0; /* start animation*/
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    /* end animation*/
}

.box span{
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
    opacity: 0; /* start animation*/
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    /* end animation*/
}

.box .bx{
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
    opacity: 0; /* start animation*/
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    /* end animation*/
}

